@charset "UTF-8";

/* Font: Source Code Pro */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600&display=swap');

/* Font: Lato */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
  box-sizing: inherit;
}

h1, h2 {
  font-family: 'Source Code Pro', monospace;
  font-weight: semi-bold;
  color: #7C7BAB;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body b {
  color: black;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: lightgrey;
  color: #383838;
  line-height: 1;

  /* Padding */
  padding: 0 8px;
  padding-top: 16px;
  padding-bottom: 16px;

  /* Container */
  margin-left: auto;
  margin-right: auto;
  max-width:1400px;
  margin: 0;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: white;
}

/* Rounded box around text */
.tag {
  background-color: grey;
  color: white;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 4px;
}

/* Icons and bullet points */
.grey {
  color: darkgrey;
}

/* Desktop Style */
@media only screen and (max-width: 750px) {
  .container {
    padding: 5px 5px 5px 8px;
  }

  .left {
      float: left;
      background: lightgrey;
      padding: 0 8px;
  }
  .right {
      float: left;
      background: lightgrey;
      padding: 0 8px;
  }
}

/* Desktop Style */
@media only screen and (min-width: 751px) {
  .container {
    padding: 5px 20px;
  }

  /* Independently scrolling columns */
  .left {
      float: left;
      width: 60%;
      background: lightgrey;
      padding: 0 8px;
  }
  .right {
      float: left;
      width: 40%;
      background: lightgrey;
      padding: 0 8px;
  }
}
