@charset "UTF-8";

/* Font: Source Code Pro */
@import url('fonts/source-code-pro');

/* Font: Lato */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  /* background image */
  background: url("../img/header-bg.jpg") no-repeat center center fixed;
  background-size: cover;               /* background fill screen */
  background-position: center;          /* background center on screen */
  min-height: 100%;                     /* show full background */
  height: 100%;

  /* animation */
	animation: body 0.75s 0.5s forwards;   /* animates fade in */
	opacity: 0;                           /* invisible upon image load */

  /* page alignment */
  text-align: center;
}

h1 {
  font-family: 'SourceCodePro-Regular';        /* scropt font for h1 */
  font-weight: normal;                  /* sets font-weight back to non-bold */
  color: white;                         /* sets font color */
  letter-spacing: -5px;
  line-height: 1;                     /* keeps h1 line space closer */
  /* text-shadow: x-coordinate, y-coordinate, blur radius, color of shadow */
  text-shadow: 1px 2px 4px grey;
}

h3 {
  font-family: 'Lato', monospace;
  color: grey;
  line-height: 1;
}

h1, h3 {
  margin: 0.25em;
}

/* translate3d(tx (abscissa), ty (ordinate), tz) */
@keyframes body {
	0% {
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

/* Small Mobile Style */
@media only screen and (max-width: 373px) {
  .centered {
    margin-top: -20px;
  }

  h1 { font-size: 50px; }
  h3 { font-size: 20px; }
}

/* iPhone 6/7/8 Mobile */
@media only screen and (min-width: 375px) {
  .centered {
    margin-top: -25px;
  }

  h1 { font-size: 65px; }
  h3 { font-size: 25px; }
}

/* iPhone X Mobile */
@media only screen and (width: 375px) and (height: 812px) {
  .centered {
    margin-top: 50px;
  }

  h1 { font-size: 65px; }
  h3 {
    font-size: 25px;
    line-height: 1.25;
   }
}

/* Pixel Mobile Style */
@media only screen and (min-width: 410px) {
  .centered {
    margin-top: 120px;
  }

  h1 { font-size: 60px; }
  h3 { font-size: 25px; }
}


/* Plus Mobile Style */
@media only screen and (width: 414px) {
  .centered {
    margin-top: 50px;
  }

  h1 { font-size: 75px; }
  h3 { font-size: 25px; }
}

/* Tablet Style */
@media only screen and (min-width: 600px) {
  .centered {
    margin-top: 150px;
  }

  h1 { font-size: 75px; }
  h3 { font-size: 25px; }
}

/* Desktop Style */
@media only screen and (min-width: 961px) {
  .centered {
    margin-top: 120px;
  }

  h1 { font-size: 75px; }
  h3 { font-size: 25px;}
}
