@import url('https://fonts.googleapis.com/css2?family=DM+Sans');
@import url('https://fonts.googleapis.com/css2?family=Lora');

body {
  font-family: 'Lora';
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  justify-content: center;
  width: 100%;
}

.square {
  width: 200px;
  height: 200px;
}

.middle {
  max-width: 575px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-family: 'DM Sans';
  text-transform: lowercase;
}

a {
  color: black;
}