@charset "UTF-8";

/* Font: Bebas Neue */
@import url("https://use.typekit.net/thq7igq.css");

/* Font: Source Code Pro */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600&display=swap');

/* Font: Lauren*/
@import url('fonts/lauren/styles.css');

* {
  box-sizing: inherit;
  box-sizing: border-box;
}

body {
  margin: 3;
}

h1 {
  font-family: "Lauren-Regular";
  text-transform: lowercase;
  font-weight: normal;
  text-align: center;
  font-size: 75px;
  color: grey;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-size: 18px;
  color: white;
}

img {
  margin-bottom: 10px;
  user-select: none;

}

.sizing {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.third {
  padding: 0 7px;
  float: left;
  width: 33.3333%;
  overflow: scroll;
}

@media only screen and (max-width: 415px) {
  .photo {
    grid-columns: 1;
  }

  h1 {
    font-size: 50px;
  }
}
