/* Nunito Sans */ @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;800&display=swap');
/* Source Sans */ @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
/* Source Serif */ @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  /*display: grid;
  grid-template-columns: 1fr 600px 1fr;*/
}

p {
  margin: 15px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  letter-spacing: .006em;
}

h2, .link {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.case-study {
  margin: 15px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

img {
  display: block;
  margin: 0 auto;
}
