@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;800&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

p {
  padding: 15px;
}

img {
  display: block;
  margin: 0 auto;
}
